<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <% if !signed_in? %>
        <div class="navbar-right">
          <!-- <a href="" class="btn btn-default navbar-btn">login</a> -->
          <%= link_to "Login", new_org_person_session_path, class: "btn btn-default navbar-btn" %>
          <!-- <a href="" class="btn btn-primary navbar-btn">Register</a> -->
          <%= link_to "Register", new_org_person_registration_path, class: "btn btn-primary navbar-btn" %>
        </div>
      <% else %>
        <ul class="nav navbar-right navbar-btn">
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown<span class="caret"></span></a>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <!-- <a class="dropdown-item" href="#">Profile</a> -->
                <%= link_to "Profile", edit_org_people_path(current_org_person.id), class: "dropdown-item" %>  
              </li>
              <li>
                <!-- <a class="dropdown-item" href="#">Logout</a> -->
                <%= link_to "Logout", destroy_org_people_session_path, method: :delete, class: "dropdown-item" %> 
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%#= link_to "My Contact", root_path, class: "navbar-brand text-uppercase" %>
    </div> -->

    <!-- /.navbar-header -->

    <!-- <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">All Contacts</a></li>
      </ul>
      <%# if !signed_in? %>
        <div class="navbar-right">
          <a href="" class="btn btn-default navbar-btn">login</a>
          <%#= link_to "Login", new_org_person_session_path, class: "btn btn-default navbar-btn" %>
          <a href="" class="btn btn-primary navbar-btn">Register</a>
          <%#= link_to "Register", new_org_person_registration_path, class: "btn btn-primary navbar-btn" %>
        </div>
      <%# else %>
        <ul class="nav navbar-right navbar-btn">
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown<span class="caret"></span></a>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a class="dropdown-item" href="#">Profile</a>
                <%#= link_to "Profile", edit_org_people_registration_path %>  
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
                <%#= link_to "Logout", destroy_org_people_session_path, method: :delete %> 
              </li>
            </ul>
          </li>
        </ul>
        <div class="nav navbar-right navbar-btn">
          <%#= link_to new_contact_path, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-plus"></i>
              Add Contact
          <%# end %>
        </div>
        <%#= render 'layouts/search_form' %>
      <%# end %>
    </div>
  </div>
</nav> -->